{% extends 'default.html' %}
{% block body %}
<form action="/insert" method="POST">
  <div class="form-group">
    <label for="userid">사용자 아이디</label>
    <input type="text" class="form-control" id="userid" name="userid" aria-describedby="useridHelp" placeholder="아이디를 입력하세요.">
    <small id="useridHelp" class="form-text text-muted">아이디는 최소 5자.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">이메일</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">이메일을 정확히 입력하세요.</small>
  </div>
  <div class="form-group">
    <label for="useraddress">주소</label>
    <input type="text" class="form-control" id="useraddress" name="useraddress" aria-describedby="useraddressHelp" placeholder="주소를 입력하세요.">
    <small id="useraddressHelp" class="form-text text-muted">주소를 정확히 입력하세요.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">비밀번호</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %} 