{% extends 'default.html' %}
{% block body %}
 <!-- 점보트론 -->
 <div class="container-fluid">
    <div class="jumbotron" style="background-image: url('img/cinema.jpg'); background-size: cover; background-position: center; height: 400px;" >
            <h1 class="display-4">환영합니다!</h1>
            <p class="lead">이 홈페이지는 최신 영화들의 실제 댓글을 분석해 영화를 추천해주는 페이지 입니다.</p>
            <hr class="my-4">
            <p>재밌는 영화를 보고 싶으시다면 아래의 버튼을 눌러 실제 댓글을 살펴보세요!</p>
            <a class="btn btn-primary btn-lg" href="/usercomment" role="button">시작</a>
          </div>
        </div>
        <br>
    
    <!-- 카드 -->
    <div class="card-deck">
            <div class="card">
              <img src="https://movie-phinf.pstatic.net/20190718_5/156341294592540aB6_JPEG/movie_image.jpg" class="card-img-top" alt="...", onclick = "location.href = 'secondpage1.html' ">
              <div class="card-body">
                <h5 class="card-title"><button type="button" class="btn btn-light" onclick = "location.href = 'secondpage1.html' ">라이온 킹</button></h5>
                <p class="card-text">
                  아버지의 죽음에 대한 죄책감에 시달리던 ‘심바’는 
                  의욕 충만한 친구들 ‘품바’와 ‘티몬’의 도움으로 희망을 되찾는다. 
                  어느 날 우연히 옛 친구 ‘날라’를 만난 ‘심바’는 과거를 마주할 용기를 얻고, 
                  진정한 자신의 모습을 찾아 위대하고도 험난한 도전을 떠나게 되는데…
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="https://movie-phinf.pstatic.net/20190722_100/1563762337429ztWu1_JPEG/movie_image.jpg" class="card-img-top" alt="...", onclick = "location.href = 'secondpage2.html' ">
              <div class="card-body">
                <h5 class="card-title"><button type="button" class="btn btn-light" onclick = "location.href = 'secondpage2.html' ">나랏말싸미</button></h5>
                <p class="card-text">
                    “이깟 문자, 주상 죽고 나면 시체와 함께 묻어버리면 그만이지”
                    모두가 알고 있지만 아무도 모르는 한글 창제의 숨겨진 이야기!
                    1443, 불굴의 신념으로 한글을 만들었으나
                    역사에 기록되지 못한 그들의 이야기가 시작된다.
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="https://movie-phinf.pstatic.net/20190524_104/1558663170174Q2mmw_JPEG/movie_image.jpg" class="card-img-top" alt="...", onclick = "location.href = 'secondpage3.html' ">
              <div class="card-body">
                <h5 class="card-title"><button type="button" class="btn btn-light" onclick = "location.href = 'secondpage3.html' ">알라딘</button></h5>
                <p class="card-text">
                    머나먼 사막 속 신비의 아그라바 왕국의 시대. 
                    좀도둑 ‘알라딘’은 마법사 ‘자파’의 의뢰로 마법 램프를 찾아 나섰다가 
                    주인에게 세 가지 소원을 들어주는 지니를 만나게 되고, 
                    자스민 공주의 마음을 얻으려다 생각도 못했던 모험에 휘말리게 되는데…</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
{% endblock %}  


