{% extends 'default.html' %}
{% block body %}
 <!-- 점보트론 -->
 <div class="container-fluid">
    <div class="jumbotron" style="background-image: url('img/cinema.jpg'); background-size: cover; background-position: center; height: 400px;" >
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </div>
        </div>
        <br>
    
    <!-- 카드 -->
    <div class="card-deck">
            <div class="card">
              <img src="https://movie-phinf.pstatic.net/20190718_5/156341294592540aB6_JPEG/movie_image.jpg" class="card-img-top" alt="...", onclick = "location.href = 'secondpage1.html' ">
              <div class="card-body">
                <h5 class="card-title"><button type="button" class="btn btn-light" onclick = "location.href = 'secondpage1.html' ">라이온 킹</button></h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="https://movie-phinf.pstatic.net/20190722_100/1563762337429ztWu1_JPEG/movie_image.jpg" class="card-img-top" alt="...", onclick = "location.href = 'secondpage2.html' ">
              <div class="card-body">
                <h5 class="card-title"><button type="button" class="btn btn-light" onclick = "location.href = 'secondpage2.html' ">나랏말싸미</button></h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="https://movie-phinf.pstatic.net/20190524_104/1558663170174Q2mmw_JPEG/movie_image.jpg" class="card-img-top" alt="...", onclick = "location.href = 'secondpage3.html' ">
              <div class="card-body">
                <h5 class="card-title"><button type="button" class="btn btn-light" onclick = "location.href = 'secondpage3.html' ">알라딘</button></h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
{% endblock %}  


