{% extends 'default.html' %}
{% block body %}
<!-- 영화설명 창 -->
<div class="card mb-3" style="max-width: 1850px; max-height: 800px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://movie-phinf.pstatic.net/20190620_207/1560992952535TS10T_JPEG/movie_image.jpg?type=m665_443_2" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">라이온킹</h5>
          <p class="card-text">개요 : 모험, 드라마, 가족 / 미국 / 118분 / 2019.07.17 개봉<br>
          감독 : 존 파브르<br>
          출연 : 도날드 글로버, 비욘세 등<br>
          등급 : 전체관람가<br>
          흥행 : 예매율 1위[누적관객 : 2868773명(07.25 기준)]</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <textarea class = "autosize" rows="7" cols="30" name="content">
      심바는 정글의 왕 무파사의 새끼 사자다.
      철부지 심바는 아버지에게 정글의 법칙을 배워가며 성장하지만 금지구역에 들어가 하이애나들에게 혼나는 등 말썽부리기 일쑤다.
      그러던 중 권력욕이 강한 심바의 삼촌 스카는 심바를 이용해 무파사를 죽이고 왕이 된다.
      심복인 하이애나들에게 심바까지 죽이라고 명하지만 심바는 위기를 모면하고 사막으로 쫒겨간다.
      심바는 사막에서 자신을 구해 준 티몬, 품바와 함께 살며 죄책감과 책임감을 잊으려 한다.
      그후 세월이 흘러 심바는 어엿한 어른 사자가 되었지만 될대로 되라는 식으로 살아가기는 마찬가지다.
      그러나 어느날 우연히 어릴때 친구였던 암사자 날라와 만나고, 뒤이어 점쟁이 원숭이 라피키를 만나 심바는 자신이 왕의 책임을 잊고 있었음을 깨닫는다.
      마침내 고향인 존엄의 왕국으로 돌아온 심바는 스카의 폭정으로 황폐해진 정글을 되찾고 다시 낙원으로 만들기 위해 스카와 한판 대결을 벌인다.
    </textarea>
  </div>
<!-- 댓글 창-->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">no</th>
      <th scope="col">평점</th>
      <th scope="col">제목</th>
      <th scope="col">댓글</th>
      <th scope="col">ID</th>
      <th scope="col">날짜</th>
    </tr>
  </thead>
  <tbody>
    {% for lionkings in lionkings %}
      <th scope="row" ></th>
      <td>{{items['no']}}</td>
      <td>{{items['grade']}}</td>
      <td>{{items['title']}}</td>
      <td>{{items['content']}}</td>
      <td>{{items['writer']}}</td>
      <td>{{items['date']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<button type="button" class="btn btn-warning" onclick="location.href='/'">홈페이지 이동</button>
{% endblock %}