{% extends 'default.html' %}
{% block body %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">no</th>
        <th scope="col">평점</th>
        <th scope="col">제목</th>
        <th scope="col">댓글</th>
        <th scope="col">ID</th>
        <th scope="col">날짜</th>
      </tr>
    </thead>
    <tbody>
      {% for items in items %}
        <th scope="row" ></th>
        <td>{{items['no']}}</td>
        <td>{{items['grade']}}</td>
        <td>{{items['title']}}</td>
        <td>{{items['content']}}</td>
        <td>{{items['writer']}}</td>
        <td>{{items['date']}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="button" class="btn btn-warning" onclick="location.href='/'">홈페이지 이동</button>
{% endblock %}