{% extends 'default.html' %}
{% block title %}
    개인 정보
{% endblock %}     

{% block body %}
<body>
<table class="table">
        <thead>
          <tr>
                <th scope="col">#</th>
                <th scope="col">아이디</th>
                <th scope="col">이메일</th>
                <th scope="col">주소</th>
                <th scope="col">비밀번호</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{user['userid']}}</td>
            <td>{{user['userid']}}</td>
            <td>{{user['userid']}}</td>
            <td>{{user['userid']}}</td>
          </tr>

        </tbody>
      </table>
    <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/updateform/<userid>'">수정</button>
    <button type="button" class="btn btn-secondary btn-lg" onclick="location.href='/delete/{{user.userid}}'">삭제</button>
    </body>
{% endblock %} 